body {
    font-family: Arial, sans-serif;
    background: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    width: 25px;
    text-align: center;
    margin-right: 10px;
}
input{
    padding: 5px;
}

h1,h4{
    margin-bottom: 30px;
    text-align: center;
}
table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 400px;
    text-align: center;
    margin-bottom: 40px;
}
th,td{
    border: 1px solid #ccc;
    width: 50%;
    padding: 10px;
    word-wrap: break-word;
}
tr:nth-child(even){
    background-color: #fafafa;
}