body {
    font-family: Arial, sans-serif;
    background: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contacts{
    padding: 25px 50px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1%);
}
h1{
    margin-bottom: 20px;
    color: #333;
}